name: Python package

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        sw-version: [[3.7, 6.2], [3.8, 6.2], [3.9, 6.2], [3.9, 2.6], [3.9, 2.8], [3.9, 3.2], [3.9, 4.0], [3.9, 5.0], [3.9, 6.0], [3.10.2, latest]]

    services:
      redis:
        image: redis:${{ matrix.sw-version[1] }}
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.sw-version[0] }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.sw-version[0] }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .
        pip install -U coverage
    - name: Run tests
      run: |
        coverage run --include="redis_collections/*.py" -m unittest
    - name: Check coverage
      if: "matrix.sw-version[1] == 'latest'"
      run: |
        coverage report --show-missing --fail-under=99
      env:
        REDIS_HOST: redis
        REDIS_PORT: 6379
    - name: Lint with flake8
      if: "matrix.sw-version[0] == '3.7'"
      run: |
        pip install -U flake8
        flake8 .
    - name: Check formatting with black
      if: "matrix.sw-version[0] == '3.7'"
      run: |
        pip install -U black
        black --check .
    - name: Build docs with sphinx
      if: "matrix.sw-version[0] == '3.7'"
      run: |
        pip install -U sphinx sphinx_rtd_theme
        sphinx-build -W -b html docs docs/_build/html
    - name: Build packages
      if: "matrix.sw-version[0] == '3.7'"
      run: |
        pip install -U twine wheel
        python setup.py sdist bdist_wheel
        twine check dist/*
    - name: Upload packages
      if: "matrix.sw-version[0] == '3.7'"
      uses: actions/upload-artifact@v2
      with:
        name: redis-collections-packages
        path: dist/*
